* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #757575;
}

/* header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png')
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-size: 20px;
    font-weight: 800px;
    height: 64px;
    background: #FD6E0A;
    border: 0px;
    border-radius: 5px;
    padding: 18px 35px;
    color: #fff;
}


/* banner styles*/

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-style: normal;
    font-weight: 900;
    font-size: 85px;
    line-height: 1.3em;
    color: #181818;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-description{
    color: #757575;
    font-size: 18px;
margin-bottom: 30px;
line-height: 1.7em;
}
/**/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles*/
.about{
margin-top: 130px;
background-color: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-title{
text-align: center;
margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
line-height: 48px;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 30px;
}

/*about info*/
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-description{
    font-weight: 600;
    color: #474747;
}